<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header style="background-color: black ; width: 100%">
    <div>
        <div>
            <img style=" height: 100%; width: 100%"src="https://objectstore.true.nl/voetbalprimeur:gpblog/images/Live/Discount/pre-season-big-ENG@2x.jpg">
        </div>
    <main style="width: 100%; height: 1300px; background-color: black">
        <div style="margin-left: 25%; width: 50%; height: 300px; background-color: #C3073F">
           <p style="padding-top:20%;font-size: 170%;text-align: center;color: black; font-family: Georgia">
               Welcome to F1 Fantasy<br>replaceusername<br>
           </p>
            <p style="text-align: center;font-size: 130%">Create your team of your favourite drivers and compete against your friends</p>
        </div>
    </main>
    </div>
</header>
</body>
</html>