<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{reset_password.css}">
    <title>Title</title>
</head>
<body>
    <form style="margin-top: 15%" action="#" th:action="@{/forgotPasswordPressed}" th:object="${userDto}" method="post">
        <div class="container">
            <p style="text-align: center">Please enter your email in the text field below. <br> You will receive an email to reset your password.</p>

            <label><b>Email</b></label>
            <input type="email" placeholder="Your Email Address" name="email" th:field="*{user_email}" required>

            <button type="submit" class="btn">Send email</button>
        </div>
    </form>
</body>
</html>